#!/usr/bin/make -f
%:
	dh $@

DEB_CFLAGS_MAINT_APPEND = -DDEBUG -Wall -g \
         -Wmissing-prototypes -Wcast-align
# -pedantic-errors -std=c99

DEB_CPPFLAGS_MAINT_APPEND = -DBONOBO_DISABLE_DEPRECATED \
           -DBONOBO_UI_DISABLE_DEPRECATED \
	   -DEEL_DISABLE_DEPRECATED \
	   -DGCONF_DISABLE_DEPRECATED \
	   -DG_DISABLE_DEPRECATED \
	   -DGNOME_DISABLE_DEPRECATED \
	   -DGNOME_VFS_DISABLE_DEPRECATED \
	   -DGTK_DISABLE_DEPRECATED \
	   -DLIBGLADE_DISABLE_DEPRECATED

override_dh_install:
	dh_install
	dh_installxsession --init-script='tmp-reaper' -u 'post 41'
